/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* global styles */

:root {
	--gray: #3f4f61;
	--black: #011627;
	--blue: #68e1fd;
	--white: white;
	--text: var(--gray);
	--text-muted: #687889;
	--font-family: mallory, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

body {
	background: var(--white);
	color: var(--text);
	font-family: var(--font-family);
	font-weight: 400;
	margin: 0;
}

body {
	min-height: 100vh;
	padding-top: 0.5rem;
	background-image: url("/images/field.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--black);
	font-weight: 900;
}

main:focus {
	outline: 0;
}

.header {
	font-family: var(--font-family);
	position: relative;
}

.header .logo-wrapper {
	align-items: center;
	display: flex;
	height: 56px;
	justify-content: center;
	padding: 0 1rem;
	position: relative;
	width: 100vw;
}

.header .logo img {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.wrapper {
	align-items: center;
	display: flex;
	justify-content: space-around;
	padding-top: 1rem;
	width: 90%;
	margin: 0 auto;
}

.content {
	min-width: 50%;
	display: flex;
	align-items: center;
}

.joke {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100%;
}

dt,
dd {
	max-width: 35ch;
}

span {
	font-size: 1.5rem;
	font-weight: bold;
}

dd {
	margin: 2rem 0 0 0;
}

dt:before,
dd:before {
	display: block;
	font-weight: light;
	font-size: 0.75em;
	padding-bottom: 5px;
}

dt:before {
	content: "QUESTION";
}

dd:before {
	content: "ANSWER";
}

.next {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	width: 400px;
	padding: 0.5em 1.5em;
	text-transform: uppercase;
	color: currentColor;
	border: 6px solid var(--blue);
	border-radius: 2px;
	margin: 4rem 0 2rem 0;
	font-size: 0.75em;
}

.btn::after {
	content: "";
	width: 14px;
	height: 20px;
	margin-left: 8px;
	display: inline-block;
	background-image: url("/images/icons/arrow.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

/* footer */

footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -1rem;
}

footer a {
	text-decoration: none;
	color: currentColor;
}

footer p, footer span {
	font-size: 0.9em;
}

footer p {
	padding: 0;
	margin: 0.5em;
}

em {
	font-weight: bold;
	font-style: italic;
}

[role="list"] {
	list-style: none;
	display: flex;
	width: 50%;
	margin: 1em 0 0 0;
	padding: 0;
	justify-content: space-around;
	align-items: center;
}

.footer img {
	width: 3rem;
	height: 2rem;
}

@media (prefers-reduced-motion) {
	.footer img:hover {
		transition: all 0.3s ease-in;
		transform: scale(1.1) rotate(360deg);
	}
}

/* media queries */
}

@media (min-width: 1300px) {
	html {
		font-size: 1.1rem;
	}
	main {
		min-height: auto;
	}
	footer {
		margin-top: 4rem;
	}
	.btn {
		width: 400px;
	}
}

@media (max-width: 900px) {
	html {
		font-size: 0.85rem;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 0.75rem;
	}
	main {
		width: 100vw;
	}
	.wrapper {
		width: 95vw;
		margin: 0 0.5rem;
	}
	.wrapper img {
		width: 75%;
		display: flex;
	}
	.content {
		flex-direction: column;
		align-items: flex-start;
	}
	.btn {
		width: 400px;
		margin-left: 0;
		margin-top: 1rem;
	}

	footer {
		margin-top: 2rem;
	}
}

@media (max-width: 400px) {
	.img {
		display: none;
	}

	.btn {
		margin-top: 3rem;
		width: 100%;
		margin-bottom: 0;
	}
}
